@page
@{
}
 
<table class="table">
  <thead class="table-dark">
    
    <th> ID </th>
    <th> MARCA </th>
    <th> MODELO </th>
    <th> KILOMETRAJE </th>
    <th> NUMERO DE ASIENTOS </th>
    <th> PLACA </th>
 
  </thead>
  
  <tbody>
  
  <tr>  
  <th> 1 </th>
  <th> MERCEDES </th>
  <th> 96 </th>
  <th> 5000 </th>
  <th> 36 </th>
  <th> PIG 207 </th>
  </tr>

  <tr>  
  <th>  2 </th>
  <th> TOYOTA </th>
  <th> 2005 </th>
  <th> 3500 </th>
  <th> 12 </th>
  <th> UQJ 237 </th>
  </tr>
  </tbody>

</table>
