@page
@{
}

<div class="text-center">
  <form action="">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-6 col-md-auto col-lg-4">
          <label for="idEstacion" class="form-label">Digite el ID de la Estacion:</label>
          <input type="number" class="form-control" id="idEstacion" name="idEstacion" placeholder="Id de Estacion">
        </div>
        <div class="col-6 col-md-auto col-lg-4">
          <label for="nombreEstacion" class="form-label">Digite el Nombre de la Estacion:</label>
          <input type="text" class="form-control" id="nombreEstacion" name="nombreEstacion" placeholder="Nombre de Estacion">
        </div>
        <div class="col-6 col-md-auto col-lg-4">
          <label for="direccionEstacion" class="form-label">Digite la Direccion de la Estacion:</label>
          <input type="text" class="form-control" id="direccionEstacion" name="direccionEstacion" placeholder="Direccion de la Estacion">
        </div>
        <div class="col-6 col-md-auto col-lg-4">
          <label for="coorx" class="form-label">Digite la Coordenada X:</label>
          <input type="number" class="form-control" id="coorx" name="coorx" placeholder="Coordenada X">
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="coorY" class="form-label">Digite la Coordenada Y</label>
          <input type="number" class="form-control" id="coorY" name="coorY" placeholder="Coordenada Y">
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="tipo" class="form-label">Digite el Tipo de Estacion:</label>
          <input type="number" class="form-control" id="tipo" name="tipo"
            placeholder="Tipo de Estacion">
        </div>
      </div>
      <br>

    </div>


    <hr>
    <button onclick="myFunction()" type="submit" class="btn btn-success" style="font-family: cursive;color:black">&nbspCREAR&nbsp </button>

    <script>
      function myFunction() {
        alert("HOLA");
        
      }
    </script>

  </form>
</div>